ALTER SESSION SET CURRENT_SCHEMA={{ schema_exemplo | upper }};
spool on;
SPOOL /tmp/extracao_template/importar_script.sql ;
set heading off;
select dbms_metadata.get_ddl( 'TABLE', '{{ tabela_exemplo | upper }}','{{ schema_exemplo | upper }}' ) from dual;
EXIT;