ALTER SESSION SET CURRENT_SCHEMA={{ schema_exemplo | upper }};
spool on;
SPOOL /tmp/extracao_template/importar_script.sql ;
set heading off;
set long 100000
set head off
set echo off
set verify off
set feedback off
SET LONGCHUNKSIZE 999999;
SET PAGESIZE 0;
SET LINESIZE 500;
SELECT DBMS_METADATA.GET_DDL('TABLE','{{ tabela_exemplo | upper }}','{{ schema_exemplo | upper }}') FROM DUAL;
EXIT;