create user "{{ schema_exemplo }}" identified by "{{ user_password }}";

CREATE TABLE {{ schema_exemplo }}.{{ tabela_exemplo }}(
    cpf NUMBER(16),
    nome VARCHAR2(50) NOT NULL,
    sobrenome VARCHAR2(50) NOT NULL,
    PRIMARY KEY(cpf)
);

EXIT;